html,
body {
    height: 100%;
}

body {
    background-image: url(../assets/images/wallPrincipal.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "article"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 100px;
}

header {
    background-color: $color_primario;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
}

article {
    grid-area: article;
}

footer {
    background-color: $color_primario;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_secundario;
}
