/* nav */

nav ul li {
    list-style: none;
    display: inline;

    a {
        text-decoration: none;
        padding: 3px;
        color: map-get($map: $colores, $key: "color_terciario");
        transition: transform .2s;
    }
}

.header__logo {
    @include sizes(130px, 80px);
}